
//Font-sizes
$big-size: 3.2rem;
$regular-size: 1.6rem;
$medium-size: 1.5rem;
$small-size: 1.2rem;

//Font weight
$regular: 300;
$medium: 400;
$bold: 600;

//colors
$primary: #1a5ca9;
$blue-top: #1b5ba9;
$blue-bottom: #1458ab;
$secondary: #00e5e6;
$border-grey: #dddddd;
$blackio: #333333;
$snow: #ffffff;
$error: tomato;
$accent: #3caae2;