@import "normalize.scss";
@import "_vars.scss";
@import "_mixins.scss";

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-size: $regular-size;
  font-family: "Quicksand", sans-serif;
  color: $blackio;
}

a,
.link {
  color: $accent;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

h3 {
  font-size: $small-title;
  color: $primary;
  margin: 1.6rem 0;
}

h4 {
  font-size: $big-size;
  color: $primary;
  margin: 1rem 0;
}

p {
  margin: 0.4rem 0;
  line-height: initial;
  font-size: $medium-size;
  color: $blackio;
}

ul {
  padding: 0;
}

input,
button,
select {
  outline: 0;
}

.space {
  background-color: $snow;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  flex-wrap: wrap;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;

  &.in {
    padding: 1.6rem;
    width: 100%;
    max-width: 97rem;
  }
  &-in {
    padding: 1.6rem 0;
    width: 100%;
    max-width: 97rem;
  }
}

.row {
  display: flex;
  margin: auto 0;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  overflow-wrap: break-word;

  &.center {
    justify-content: center;
  }

  &.between {
    justify-content: space-between;
  }

  &.right {
    justify-content: flex-end;
  }

  &.md {
    width: 48%;
    @include mobile(680px) {
      width: 100%;
    }
  }
}

.col {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: auto;
  width: 100%;
  overflow-wrap: break-word;
}

button {
  border: 0.1rem $snow transparent;
  border-radius: 0.4rem;
  background-color: $primary;
  color: $snow;
  padding: 0.8rem;

  &:hover {
    cursor: pointer;
  }

  &:active {
    border: 0.1rem $snow solid;
  }

  &.large {
    padding: 1rem 0;
    width: 100%;
  }
}

.social {
  color: $snow;
  width: 3.2rem;
  height: 3.2rem;
  background-position: center;

  &.fb {
    @include icon-set(fb);
  }
  &.ig {
    @include icon-set(ig);
  }
  &.yt {
    @include icon-set(yt);
  }
}

.hide-on-mobile {
  display: flex;
  @include mobile(780px) {
    display: none;
  }
}

.show-on-mobile {
  display: none;
  @include mobile(780px) {
    display: flex;
  }
}

.cards {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  & > li {
    border: 0.1rem solid $border-grey;
    border-radius: 0.4rem;
    display: flex;
    padding: 0.4rem;
    margin: 0 1%;
    width: 15%;
    max-width: 15rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    & > span {
      margin: 1rem 0;
    }
    & > a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      & > img {
        display: block;
        margin: 0 auto;
        height: 100%;
        width: 100%;
        max-width: 15rem;
        max-height: 18.3rem;
      }
      & > p {
        margin: 0.8rem 0;
        font-size: $medium-size;
        color: #777777;
      }
      & > strong {
        color: #777777;
      }
      &:hover {
        text-decoration: underline;
      }
    }

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &.no-border {
      border: none;
    }
  }
}

hr {
  height: 1px;
  background-color: #cccccc;
  overflow: visible;
  border: none;
  width: 100%;
}
